﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This project is intented to objectively and uniformly compare each gun found in the Borderlands 2 video game.</p>

<p>I've created a way of measureing each guns stats against the other across type and elemental effect. </p>


<p>The problem I'm trying to solve here is, given all these different types of guns which one is better? Should I use this pistol or this rifle? Should i bother picking this one up, or just move on to the next?</p>