﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Check out the repo at gitlab:</p>

<address>
    <a href="https://gitlab.com/jameslcasey/borderlands2gunstats" target="_blank">https://gitlab.com/jameslcasey/borderlands2gunstats</a>
</address>
