@{
    ViewData["Title"] = "Home Page";
}


<h1 class="ui inverted header">
    Borderlands 2 Guns
</h1>

<h2>Rank of all Borderlands 2 guns.</h2>

<a class="item" href="~/Guns">
    <div class="ui button"> Guns <i class="right arrow icon"></i>
        </div>
</a>



